:root {
  /* Light Mode */
  --light-100: #F7F8F9;
  --light-200: #F1F2F4;
  --light-300: #DCDFE4;
  --light-400: #B3B9C4;
  --light-text-title: #101214;
  --light-text-normal: #161A1D;
  --light-text-grey: #596773;
  /* Dark Mode */
  --dark-100: #101214;
  --dark-200: #161A1D;
  --dark-300: #1D2125;
  --dark-400: #22272B;
  --dark-text-title: #F7F8F9;
  --dark-text-normal: #DCDFE4;
  --dark-text-light: #B3B9C4;
  /* HEADER HEIGHT */
  --header-height: 70px;
}

/* GLOBAL CLASES */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  user-select: none;
}

body {
  background-color: var(--light-100);
}

ol, ul {
  list-style: none;
}

.gradient {
  background: linear-gradient(109.6deg, rgb(123, 90, 224) 11.2%, rgb(164, 46, 253) 32.6%, rgb(213, 56, 234) 62.7%, rgb(251, 138, 52) 100.2%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-family: "Inter",sans-serif;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

.link {
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
  color: var(--light-text-title);
}

.text {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--light-text-normal);
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-wrap: pretty;
  color: var(--light-text-grey);
  transition: all 0.3s ease-in-out;
}

.section {
  padding: 8rem 1.5rem;
}

a {
  text-decoration: none;
  color: var(--dark-text-light);
}

.button {
  display: flex;
  background-color: var(--dark-300);
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  border-radius: 5px;
 
}

.button a {
  color: var(--dark-text-normal);
}

 @keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

.button img {
  width: 30px;
  margin-right: 1.2rem;
}

.button:hover {
  opacity: .85;
}

/* NAVBAR */

.header {
  height: var(--header-height);
  background-color: var(--light-200);
  box-shadow: 0px -5px 20px 5px #2C333A33;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 2rem;
  position: relative;
}

.color_mode-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.color_mode-icon {
  color: var(--light-text-grey);
  transition: all 0.3s ease-in-out;
}

.color_mode {
  display: flex;
  align-items: center;
}

.color_mode-letter::after {
  content: "Dark";
  font-family: "Inter",sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--light-text-grey);
  transition: all 0.3s ease-in-out;
}

.color_mode-checkbox:checked ~ .color_mode-letter::after {
  content: "Light";
}

.menu_hamburger {
  display: none;
}

.menu_hamburger:checked ~ .ul_links {
  height: calc(100vh - var(--header-height)); 
}

.list_icon {
  cursor: pointer;
  color: var(--light-100);
  background: linear-gradient(109.6deg, rgb(123, 90, 224) 11.2%, rgb(164, 46, 253) 32.6%, rgb(213, 56, 234) 62.7%, rgb(251, 138, 52) 100.2%);
  border-radius: 3px;
  padding: 0.7rem;
  
}

.ul_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--light-300);
  position: absolute;
  top: var(--header-height);
  transition: all .7s ease-in-out;
}

.ul_links a {
  font-size: 3.5rem;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(109.6deg, rgb(123, 90, 224) 11.2%, rgb(164, 46, 253) 32.6%, rgb(213, 56, 234) 62.7%, rgb(251, 138, 52) 100.2%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    var(--light-100),
    var(--light-400)
  );
  margin-top: -70px;
  padding-top: 70px;
  transition: all 0.3s ease-in-out;
  overflow:hidden;
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  transition: all 0.3s ease-in-out;
}

.name {
  color: var(--light-text-normal);
  font-size: 3rem;
  font-weight: 600;
  font-family: monospace;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

span {
  color: var(--light-text-grey);
  display: block;
  margin-top: 0.3rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.img_container {
  border-radius: 50%;
  overflow: hidden;
  background-image: repeating-linear-gradient(0deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(45deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(45deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(86, 47, 241),rgb(58, 148, 195));
  padding: 1rem;
  box-shadow: 0px 0px 45px 0px #10121444;
}

.hero_img {
  max-width: 250px;
  border-radius: 50%;
}

.hero_title {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 6rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.title_desk {
  display: none;
}

.title_desk p {
  color: var(--light-text-grey);
  padding-left: 30px;
  text-wrap: balance;
  transition: all 0.3s ease-in-out;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.github {
  background-color: #2fbb4f;
}

.freecode {
  background-color: #0a0a23;
}

.discord {
  background-color: #7289da;
}

/* ABOUT ME */

.about_me {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background-image: linear-gradient(222deg, rgba(137, 137, 137,0.02) 0%, rgba(137, 137, 137,0.02) 21%,transparent 21%, transparent 63%,rgba(101, 101, 101,0.02) 63%, rgba(101, 101, 101,0.02) 99%,rgba(35, 35, 35,0.02) 99%, rgba(35, 35, 35,0.02) 100%),linear-gradient(267deg, rgba(40, 40, 40,0.02) 0%, rgba(40, 40, 40,0.02) 23%,transparent 23%, transparent 48%,rgba(87, 87, 87,0.02) 48%, rgba(87, 87, 87,0.02) 98%,rgba(47, 47, 47,0.02) 98%, rgba(47, 47, 47,0.02) 100%),linear-gradient(78deg, rgba(103, 103, 103,0.02) 0%, rgba(103, 103, 103,0.02) 40%,transparent 40%, transparent 64%,rgba(100, 100, 100,0.02) 64%, rgba(100, 100, 100,0.02) 84%,rgba(35, 35, 35,0.02) 84%, rgba(35, 35, 35,0.02) 100%),linear-gradient(136deg, rgba(135, 135, 135,0.02) 0%, rgba(135, 135, 135,0.02) 14%,transparent 14%, transparent 67%,rgba(51, 51, 51,0.02) 67%, rgba(51, 51, 51,0.02) 68%,rgba(178, 178, 178,0.02) 68%, rgba(178, 178, 178,0.02) 100%),linear-gradient(90deg, var(--light-100),var(--light-100));
}

.about_me-container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.about_me h2 {
  font-size: 4rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

.card {
  box-shadow: 0px 0px 40px 0px #00000020;
  border-radius: 5px;
  padding: 3rem 1.5rem;
  max-width: 500px;
  background-color: var(--light-200);
  transition: all 0.3s ease-in-out;
}

.card h3, .normal {
  color: var(--light-text-normal);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
}

.card p {
  text-align: center;
}

.technologies_container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  flex-wrap: wrap;
}

.technologies_img {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 40px 0px #00000020;
  margin: 0.5rem 0rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--light-200);
  transition: all 0.3s ease-in-out;
}

.technologies_img img {
  animation: moving 1.5s ease-in-out  infinite;
}

.technologies_img span {
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

@keyframes moving {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
}

/* PROJECTS SECTION */

.projects {
  background: linear-gradient(
    110deg,
    var(--light-100),
    var(--light-400)
  );
  transition: all 0.3s ease-in-out;
}

.projects_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  transition: all 0.3s ease-in-out;
}
.projects h2 {
  font-size: 4rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.background_img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  max-width: 100%;
  height: 40em;
  border-radius: 10px;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 20px 0px #10121433;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.background_img .image_1 {
  position: absolute;
  width: 40px;
  bottom: 5rem;
  left: 0.5rem;
  animation: blinking 3s infinite ease-in-out;
}

.background_img .image_2 {
  position: absolute;
  width: 40px;
  bottom: 9rem;
  left: 0.5rem;
  animation: blinking 3s infinite ease-in-out;
}

@keyframes blinking {
  0%{
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
}

.grid_container {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 40em), 1fr));
  transition: all 0.3s ease-in-out;
}

.grid_card-1 {
  background-image: url(https://raw.githubusercontent.com/berlinguzman/Prueba-Git/main/projects-img/Screenshot%202024-08-25%20at%2000-13-25%20Survey%20Form.png);
  background-position: top;
}

.grid_card-2 {
  background-image: url(https://raw.githubusercontent.com/berlinguzman/Prueba-Git/main/projects-img/Screenshot%202024-08-23%20at%2022-21-44%20Tribute%20Page%20Build%20a%20Tribute%20Page%20freeCodeCamp.org.png);
  background-position: top;
}

.grid_card-3 {
  background-image: url(https://raw.githubusercontent.com/berlinguzman/Prueba-Git/main/projects-img/Screenshot%202024-08-23%20at%2022-21-58%20Technical%20Documentation%20Page%20Build%20a%20Technical%20Documentation%20Page%20freeCodeCamp.org.png);
  background-position: 35% 0%;
}

.grid_card-4 {
  background-image: url(https://raw.githubusercontent.com/berlinguzman/Prueba-Git/main/projects-img/Screenshot%202024-08-23%20at%2022-22-29%20Product%20Landing%20Page%20Build%20a%20Product%20Landing%20Page%20freeCodeCamp.org.png);
  background-position: 40% 0%;
}

.card_description {
  font-weight: 600;
  font-size: 1.7rem;
  display: block;
  background-image: repeating-linear-gradient(0deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(45deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(45deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(86, 47, 241),rgb(58, 148, 195));
  color: var(--dark-text-normal);
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0px 0px 20px 0px #10121433;
  transition: all 0.3s ease-in-out;
}

/* CONTACT SECTION */

.contact_container {
  display: flex;
  flex-direction: column-reverse;
  gap: 8rem;
}

.contact_data h3 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5rem;
}

.contact_data p {
  text-align: center;
  text-wrap: balance;
}

.contact_data img {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--light-300);
  padding: 4rem 2rem;
  border-radius: 15px;
  transition: all .3s ease-in-out;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  min-width: inherit;
}

.form_name-first-last {
  display: flex;
  flex-direction: column;
}

.contact_container label {
  display: block;
  font-family: "Inter",sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--light-text-normal);
  margin-bottom: 1rem;
  transition: all .3s ease-in-out;
}

.form_container-input {
  font-family: "Roboto",sans-serif;
  padding: 1.5rem 0 1.5rem 1.5rem ;
  margin-bottom: 4rem;
  border: none;
  border-radius: 10px;
  font-size: 1.7rem;
  font-weight: 400;
  background-color: var(--light-200);
  color: var(--light-text-grey);
  transition: all .3s ease-in-out;


  &:focus {
    outline: none;
  }
}

.submit_container {
  display: flex;
  justify-content: center;
}

#submit {
  background: linear-gradient(109.6deg, rgb(123, 90, 224) 11.2%, rgb(164, 46, 253) 32.6%, rgb(213, 56, 234) 62.7%, rgb(251, 138, 52) 100.2%);
  color: var(--dark-text-title);
  font-size: 2rem;
  margin: 0;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(109.6deg, rgb(123, 90, 224) 11.2%, rgb(164, 46, 253) 32.6%, rgb(213, 56, 234) 62.7%, rgb(251, 138, 52) 100.2%);
  height: 4rem;
  position: sticky;
  bottom: 0;
  z-index: 20000;
}

.footer p {
  color: var(--dark-text-title);
}


/* MEDIA QUERIES */

@media (min-width:768px){

  .footer{
    height: 3rem;
  }

  .about_me, .projects, .contact {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .contact_container {
    flex-direction: row-reverse;
    gap: 3rem;
  }

  form {
    max-width: 470px;
  }

  fieldset {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
 
  }

  .contact_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact_data h3 {
    text-align: left;
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .contact_data p {
    text-align: left;
    text-wrap: pretty;
  }

  .contact_data img {
    display: block;
    object-fit: contain;
    max-width: 250px;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .page_width {
    max-width: 1000px;
  }

  .button:hover {
    animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }

  .background_img:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 3rem;
  }

  .hero_container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: var(--header-height);
  }

  .title_desk {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title_desk p {
    font-size: 1.7rem;
    text-align: right;
    line-height: 2.5rem;
    word-spacing: 1px;
    letter-spacing: .5px;
  }

  .title_desk hr {
    align-self: end;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .profile {
    background-color: var(--light-300);
    padding: 3rem 5rem;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 0px #10121423;
  }

  .hero_title {
    white-space: unset;
    overflow: auto;
    text-align: right;
    font-size: 12rem;
    margin: 0;
    padding: 0;
  }

  .mobile {
    display: none;
  }

  .about_me-container {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navbar {
    justify-content: center;
  }

  .color_mode {
    position: absolute;
    left: 2rem;
  }

  .label_hamburger {
    display: none;
  }

  .ul_links {
    position: static;
    gap: 0;
    width: auto;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    transition: none;
  }

  .ul_links a {
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    padding-inline: 3rem;
    height: var(--header-height);
    background-image: linear-gradient(37deg, rgb(32, 218, 233),rgb(40, 21, 236));
  }

  .ul_links a:hover {
    transform: scale(1.05);
    background-image: linear-gradient(0deg, rgb(238, 4, 44),rgb(202, 203, 40));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-in-out;    
  }
}

@media (max-width: 1024px) {
  .desk {
    font-size: 10.8rem;
  }
}

@media (max-width: 925px) {
  .desk {
    font-size: 9.5rem;
  }
  
}

@media (max-width: 870px) {
  .desk {
    font-size: 7.4rem;
  }
  
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  :root {
    --light-100: var(--dark-100);
    --light-200: var(--dark-200);
    --light-300: var(--dark-300);
    --light-400: var(--dark-400);
    --light-text-title: var(--dark-text-title);
    --light-text-normal: var(--dark-text-normal);
    --light-text-grey: var(--dark-text-light);
  }
}



